{{#if submit}}
	<button  type="submit" id="{{id}}" 
	{{#if parent}}
		class="button {{parent}}__button">
	{{else}}
		class="button">
	{{/if}}
	{{caption}}</button>
{{else}}
	<div id="{{id}}" 
	{{#if parent}}
		class="button {{parent}}__button">
	{{else}}
		class="button">
	{{/if}}
	{{caption}}</div>
{{/if}}

