<div class="panel comment {{#if ghost}}comment_ghost {{/if}}comment-section__comment" data-id="{{commentId}}">
    <div class="comment__top-side">
        <a class="comment__ref" href="{{userUrl}}">
            <div class="comment__avatar" style="background-image: url('{{avatarUrl}}')"></div>
            <div class="comment__metadata">
                <div class="comment__username">{{username}}</div>
                <div class="comment__date">{{date}}</div>
            </div>
        </a>

        {{#if ownComment}}
            <div class="comment__close-button"></div>
        {{/if}}
    </div>
    <div class="comment__text">{{text}}</div>
</div>