<div class="panel comment comment-section__comment{{#unless isOwnComment}} comment_not-own{{/unless}}{{#if
        ghost}} comment_ghost{{/if}}" data-id="{{_id}}">
    <div class="comment__top-side">
        <a class="comment__ref" href="{{commentator.url}}">
            <div class="comment__avatar" style="background-image: url('{{commentator.avatarUrls.medium}}')"></div>
            <div class="comment__metadata">
                <div class="comment__username">{{commentator.username}}</div>
                <div class="comment__date">{{createDateStr}}</div>
            </div>
        </a>
        <div class="comment__close-button icon-cross"></div>
    </div>
    <div class="comment__text">{{text}}</div>
</div>
