<div id="image" class="modal image"{{#if image}} data-author-url={{image.author.url}} data-id={{image._id}}{{/if}}>
    <div class="image__image-wrapper">
        <img class="image__img-element"{{#if image}} src="{{image.imgUrl}}"{{/if}}>
        <div class="image__controls">
            <div class="image__control image__control-prev">prev</div>
            <div class="image__control image__control-full">full</div>
            <div class="image__control image__control-next">next</div>
        </div>
    </div>
    <div class="image__sidebar">
        <div class="image__top-side">
            <div class="header image__header">
                <a class="image__header-left-side" href="{{image.author.url}}">
                    <div class="image__avatar"
                         style="background-image: url('{{image.author.avatarUrls.medium}}')"></div>
                    <div class="image__metadata">
                        <div class="image__username">{{image.author.username}}</div>
                        <div class="image__post-date">{{image.createDateStr}}</div>
                    </div>
                </a>

                <div class="button button_invisible image__top-side-button image__delete-button">
                    delete
                </div>
                <div
                    {{#if image.author.isNarrator}}
                    data-active="true"
                    class="button button_active image__top-side-button image__subscribe-button"
                    {{else}}
                    class="button image__top-side-button image__subscribe-button"
                    {{/if}}
                >
                    subscribe
                </div>


            </div>
            <div class="image__info-board">
                <div{{#if image}} data-like-amount="{{image.likes.length}}"{{/if}}
                    {{#if image.isLiked}}data-active="true"{{/if}}
                                  class="button like-button image__like-button{{#if
                                          image.isLiked}} button_active{{/if}}">
                    like {{image.likes.length}}
                </div>
                <div class="image__description">
                    {{image.description}}
                </div>

            </div>
            <div class="comment-section image__comment-section">
                {{#if image.comments}}
                    {{#each image.comments}}
                        {{> comment}}
                    {{/each}}
                {{else}}
                    {{> comment
                            ghost=true
                            isOwnComment=true
                    }}
                {{/if}}


            </div>
        </div>

        <div class="panel comment comment-send image__comment-send"
             data-image-id="{{image._id}}">
            <div class="comment__top-side">
                <div class="comment__avatar"
                     style="background-image: url('{{loggedUser.avatarUrls.medium}}')"></div>
                <div class="comment__username">{{loggedUser.username}}</div>
            </div>

            <textarea placeholder="share your opinion…" class="comment-send__textarea"></textarea>
            <div class="button comment-send__send-button">send</div>
        </div>
    </div>
    {{> modal-close-button
            parent="image"
    }}
</div>

