<div class="stat stat-list__stat"{{#if id}} id="{{id}}"{{/if}}>
    <div class="stat__number">
        {{#if number}}
            {{number}}
        {{else}}
            0
        {{/if}}
    </div>
    <div class="stat__icon {{icon}}"></div>
    <div class="stat__caption">{{property}}{{#addSIfPlural number}}{{/addSIfPlural}}</div>
</div>