{{#if parent}}
<div class="textbox {{parent}}__textbox">
{{else}}
<div class="textbox">
{{/if}}
	<div class="textbox__info">
		<span class="textbox__caption">{{caption}}</span>
		<span class="textbox__error"></span>
	</div>
	{{#if type}}
	<input id="{{id}}" type="{{type}}" class="textbox__field" />
	{{else}}
	<input id="{{id}}" type="text" class="textbox__field" />
	{{/if}}
</div>