
<div class="textbox{{#if parent}} {{parent}}__textbox{{/if}}{{#unless caption}} textbox_no-caption{{/unless}}">
	<div class="textbox__info">
		<span class="textbox__caption">{{caption}}</span>
		<span class="textbox__error"></span>
	</div>
	{{#if type}}
		<input name="{{name}}" type="{{type}}"
	{{else}}
		<input name="{{name}}" type="text"
	{{/if}}
	class="textbox__field" />
</div>
