<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.png"/>
	{{#if page}}
		<title>{{page}}</title>
		<link rel="stylesheet" href="/{{page}}.css">
	{{/if}}
	<script>
		window.isLogged={{#if loggedUser}}true{{else}}false{{/if}};
	</script>
    <script defer src="/{{page}}.js"></script>
	{{{_sections.scripts}}}
</head>
<body>
	{{{body}}}
</body>
</html>
