<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.png"/>
    <meta name='viewport' content='width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1' />

    {{#if page}}
		<title>{{{_sections.title}}} | sketchbook</title>
		<link rel="stylesheet" href="/{{page}}.css">
	{{/if}}
	<script>
		window.isLogged={{#if loggedUser}}true{{else}}false{{/if}};
	</script>
    <script defer src="/{{page}}.js"></script>
	{{{_sections.scripts}}}
</head>
<body>
	{{{body}}}
</body>
</html>
