<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{{#if page}}
		<title>{{page}}</title>
		<link rel="stylesheet" href="/{{page}}.css">
	{{/if}}
	{{{_sections.scripts}}}

	<!--
		<script defer src="/common-{{page}}.js"></script>
		<script defer src="/{{page}}.js"></script>
		{{#if loggedUser}}
			<script defer src="/logged-{{page}}.js"></script>
		{{/if}}
	-->

</head>
<body>
	{{{body}}}
</body>
</html>
