{{> is-logged-script}}

<div class="image-post-wrapper">
	<div id="image-post" class="image-post-wrapper__image-post image-post">
		<div id="image-wrapper" class="image-post__image-wrapper">
			<img id="image" class="image-post__image" src="/image{{image._id}}.jpg" alt="">
		</div>
		<div id="side-bar" class="image-post__sidebar">
			<div class="image-post__top-side">
				<div class="header image-post__header">
					<div class="image-post__header-left-side">
						<div class="image-post__avatar">
							
						</div>
						<div class="image-post__metadata">
							<div class="image-post__username">{{author.username}}</div> 
							<div class="image-post__post-date">{{image.createDateStr}}</div> 
						</div>
					</div>
					
					{{#if ownImage}}
						<div id="delete-image-button" class="button image-post__subscribe-button">
							delete
						</div>
					{{else}}
						<div id="subscribe-button" class="button image-post__subscribe-button">
							subscribe
						</div>
					{{/if}}


				</div>
				<div class="image-post__info-board">
					<div class="button image-post__like-button">
						like {{image.likes.length}}
					</div>
					<div class="image-post__description">
						{{image.description}}
					</div>

				</div>
				<div id="comments-section" class="comments-section image-post__comments-section">
					{{#each image.comments}}
						{{> comment 
							commentId=_id
 							username=username
 							date=createDateStr
 							text=text
 							ownComment=ownComment
 						}}
					{{/each}}
					{{> comment 
						commentId=0
						username=loggedUser.username
						date='a few seconds ago'
						ownComment=true
						ghost=true
 					}}
				</div>
			</div>
			
			<div id="comment-send" class="panel comment comment-send image-post__comment-send" data-image-id="{{image._id}}">
				<div class="comment__top-side">
					<div class="comment__avatar"></div>
					<div class="comment__username">{{loggedUser.username}}</div>
				</div>

				<textarea placeholder="share your opinion…" class="comment-send__textarea"></textarea>
				<div class="button comment-send__send-button">send</div>
			</div>
		</div>
	</div>	
</div>

