<div class="image-post-wrapper">
	<div class="image-post-wrapper__image-post image-post">
		<div class="image-post__image-wrapper">
			<img class="image-post__image" src="/image{{image._id}}.jpg" alt="">
		</div>
		<div class="image-post__sidebar">
			<div class="image-post__top-side">
				<div class="header image-post__header">
					<div class="image-post__header-left-side">
						<div class="image-post__avatar">
							
						</div>
						<div class="image-post__metadata">
							<div class="image-post__username">{{author.username}}</div> 
							<div class="image-post__post-date">{{image.createDateStr}}</div> 
						</div>
					</div>
					
					<div class="button image-post__subscribe-button">
						subscribe
					</div>
				</div>
				<div class="image-post__info-board">
					<div class="button image-post__like-button">
						like {{image.likes.length}}
					</div>
					<div class="image-post__description">
						{{image.description}}
					</div>

				</div>
				<div class="image-post__comments">

					{{!-- 
 					{{> comment 
 						username="hervrot"
 						date="25 Oct 2018"
 						text="fuck you!"
 					}}
 					--}}

				</div>
			</div>
			
			<div class="panel comment comment-send image-post__comment-send">
				<div class="comment__top-side">
					<div class="comment__avatar"></div>
					<div class="comment__username">{{loggedUser.username}}</div>
				</div>

				<textarea placeholder="share your opinion…" class="comment-send__textarea"></textarea>
				<div class="button comment-send__send-button">send</div>
			</div>
		</div>
	</div>	
</div>

