{{#section 'scripts'}}
	<script defer src="/common-user.js"></script>
	<script defer src="/user.js"></script>
	{{#if loggedUser}}
		<script defer src="/logged-user.js"></script>
	{{/if}}
{{/section}}

{{> page-header}}
<div class="panel info-panel">
	<div class="info-panel__wrapper">
		<div class="person info-panel__person">
			<div class="person__avatar" style="background-image: url('{{pageUser.avatarUrls.big}}')"></div>
			<div class="person__username">{{pageUser.username}}</div>
		</div>
		<div class="description">
			<div class="description__text">{{#if pageUser.description}}{{pageUser.description}}{{else}}Colors are split into their red, green, blue and alpha dimensions. The operation is applied to each color dimension separately. E.g., if the user added two colors, then the green dimension of the result is equal to sum of green dimensions of input colors. If the user multiplied a color by a number, each color dimension will get multiplied.{{/if}}</div>
			<div id="links-dropdown" class="dropdown links-dropdown description__links-dropdown">
				<ul class="dropdown__item-list links-dropdown__item-list">

                    {{#each pageUser.links}}
                        {{> dropdown-item
                                caption=host
                                link=href
                                icon="true"
                        }}
                    {{/each}}

				</ul>
			</div>

		</div>
	</div>
</div>
<div class="header page-header extra-header">
	<div class="extra-header__wrapper">
		<div class="stat-list">
			{{> stat
                    number=pageUser.subscribers.length
                    property="subscribers"
                    id="subscribers-number"
            }}
			{{> stat number=pageUser.subscriptions.length
                    property="subscriptions"
            }}
			{{> stat number=pageUser.images.length
                    property="publications"
                    id="publication-number"
            }}
		</div>

		{{#if pageUser.isLoggedUser}}
			<div class="button extra-header__button" id="upload-window-caller">
				upload image
			</div>
		{{else}}
			<div id="subscribe-button"
			{{#if pageUser.isNarrator}}
				data-checked="true"
				class="button button_active extra-header__button"
			{{else}}
				class="button extra-header__button"
			{{/if}}
			>subscribe</div>
		{{/if}}
	</div>
</div>
<div id="gallery" class="gallery">
	<div class="gallery__obj">{{galleryObj}}</div>

	<div class="gallery__wrapper">
		{{#if pageUser.images}}
			{{#each pageUser.images}}
				{{> image-preview
					comments=comments.length
					likes=likes.length
					previewUrl=previewUrl
					imageId=_id
				}}
			{{/each}}
		{{else}}
			{{> image-preview
				ghost=true
				comments='0'
				likes='0'
			}}
		{{/if}}
	</div>
</div>
{{> footer}}
