{{> page-header}}
<div class="passport">
    <div class="passport__wrapper">
        <div class="passport__backdrop-side"></div>
        <div class="passport__backdrop">
            <div class="passport__avatar" style="background-image: url('{{pageUser.avatarUrls.big}}')"></div>
            <div class="passport__data">
                <div class="passport__username"><span class="passport__username-text">{{pageUser.username}}</span></div>
                <div class="passport__description"><span class="passport__description-text">{{pageUser.description}}</span>
                </div>

                {{#if pageUser.links}}
                    <div class="passport__links">
                        {{#each pageUser.links}}
                            <a class="passport__link" href="{{href}}">{{host}} </a>
                        {{/each}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="passport__backdrop-side"></div>

    </div>
</div>
<div class="header page-header extra-header">
    <div class="extra-header__wrapper">
        <div class="stat-list">
            {{> stat
                    number=pageUser.subscribers.length
                    property="subscribers"
                    id="subscribers-number"
            }}
            {{> stat number=pageUser.subscriptions.length
                    property="subscriptions"
            }}
            {{> stat number=pageUser.images.length
                    property="publications"
                    id="publication-number"
            }}
        </div>

        {{#if pageUser.isLoggedUser}}
            <div class="button extra-header__button  button_header-style" id="upload-window-caller">
                upload image
            </div>
        {{else}}
            <div id="subscribe-button"
                 class="button extra-header__button  button_header-style"
                {{#if pageUser.isNarrator}} data-active="true"{{/if}}>subscribe
            </div>
        {{/if}}
    </div>
</div>
<div id="gallery" class="gallery">

    <div class="gallery__wrapper">
        {{#if pageUser.images}}
            {{#each pageUser.images}}
                {{> image-preview
                        comments=comments.length
                        likes=likes.length
                        previewUrl=previewUrl
                        imageId=_id
                }}
            {{/each}}
        {{/if}}
        {{> image-preview
                ghost=true
                comments='0'
                likes='0'
        }}
    </div>
</div>


{{> footer}}
{{!--
    {{> backdrop}}
     <div class="modal-wrapper">
            {{> spinner}}
     </div>
--}}


