{{#section 'title'}}{{pageUser.username}}{{/section}}
{{> pseudo-header}}
<div class="passport">
    <div class="passport__wrapper">
        <div class="passport__backdrop-side"></div>
        <div class="passport__backdrop">
            <div class="passport__avatar" style="background-image: url('{{pageUser.avatarUrls.big}}')"></div>
            <div class="passport__data">
                <div class="passport__username">{{pageUser.username}}</div>
                <div class="passport__description">{{pageUser.description}}</div>
                {{#if pageUser.links}}
                    <div class="passport__links">
                        {{#each pageUser.links}}
                            <a class="passport__link" target="_blank" href="{{href}}">{{host}}&nbsp;</a>
                        {{/each}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="passport__backdrop-side"></div>

    </div>
</div>
<div class="header page-header extra-header">
    <div class="extra-header__wrapper">
        <div class="stat-list">
            {{> stat
                    number=pageUser.subscribers.length
                    property="subscriber"
                    id="subscribers-stat"
                    icon="icon-user-circle-o"
            }}
            {{> stat number=pageUser.subscriptions.length
                    property="subscription"
                    id="subscriptions-stat"
                    icon="icon-user-circle"
            }}
            {{> stat number=pageUser.images.length
                    property="publication"
                    id="publications-stat"
                    icon="icon-paint-brush"
            }}
        </div>

        {{#if pageUser.isLoggedUser}}
            <div class="button extra-header__button  button_header-style" id="upload-window-caller">
                upload image
            </div>
        {{else}}
            <div id="subscribe-button"
                 class="button extra-header__button  button_header-style"
                {{#if pageUser.isNarrator}} data-active="true"{{/if}}>subscribe
            </div>
        {{/if}}
    </div>
</div>
<div id="gallery" class="gallery">

    <div class="gallery__wrapper">
        {{#if pageUser.images}}
            {{#each pageUser.images}}
                {{> image-preview}}
            {{/each}}
        {{/if}}
        {{> image-preview
                ghost=true
                comments='0'
                likes='0'
        }}
    </div>
</div>


{{> footer}}
{{> page-header}}

{{!--
    {{> backdrop}}
     <div class="modal-wrapper">
            {{> spinner}}
     </div>
--}}


